ut02-ejercicios/02-validacion-con-dtd/ejercicio-01/libreria.dtd

<!ELEMENT libreria (libro+)>
<!-- Uso de `+` ya que que el elemento `<libro>` debe aparecer al menos una vez o más en `<libreria>` -->

<!ELEMENT libro (titulo, autor, año, precio)>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT precio (#PCDATA)>

<!ATTLIST precio
    moneda CDATA #REQUIRED>
<!-- El atributo moneda es #REQUIRED porque siempre necesitamos especificar la moneda del precio -->

